<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<node pkg="turtlesim" type="turtlesim_node" name="simulator2"/>
  
  <node pkg="turtlesim" name="keycontrol" type="turtle_teleop_key" />
  
  <node pkg="first_package" type="mission1.py" name="turtle2_follow"/>
  <node pkg="turtle_description" type="turtle_to_TF2.py" name="tfBroadcaster"/>


</launch>

